body {
    text-align: center;
    font-family: 'Otomanopee One', sans-serif;
    background-color: cornsilk;
    
    
}

#status {
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    

}

#gameBoard {
    
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    
    width:40%;
    flex-wrap: wrap;
    margin: auto;
    
}

#holder {
    padding: 20px;
}

.boxes, .boxes2, .boxesGreyed {
    border: solid black;
    flex-grow: 1;
    width: 32%;
    height: 80px;
    font-size: 65px;    
    text-align: center;
      
    
    
}

.boxes:hover {
    background-color: rgb(18, 64, 216);
}

.boxes2:hover {
    background-color: #ff4747;
}

.blink_me, .blink_me2 {
    animation: blinker 2s linear infinite;

    border: solid black;
    flex-grow: 1;
    width: 32%;
    height: 80px;
    font-size: 65px;    
    text-align: center;
    background-color: rgb(20, 40, 218);
  }
  
  @keyframes blinker {
    50% {
      opacity: 35%;
    }
  }

  .blink_me2 {
    background-color: rgb(255, 196, 196);
  }

  #scoreBoard {
      display: flex;
  }

  #scoreBoard h2{
    margin: auto;
    font-size: 30px;
  }

  h1 {
      font-size: 80px;
  }

  .boxesGreyed:hover { /* used for already marked boxes*/
      background-color: rgb(192, 192, 192);
  }



  .choice1:hover {
      color: blue;

  }
  .choice2:hover {
    color: red;

}